aiofiles==0.8.0; python_version >= "3.7" and python_version < "4.0"
anyio==3.6.1; python_full_version >= "3.6.2" and python_version >= "3.6"
apscheduler==3.9.1; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0" and python_version < "4")
backports.zoneinfo==0.2.1; python_version >= "3.6" and python_full_version < "3.0.0" and python_version < "3.9" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6") or python_full_version >= "3.5.0" and python_version < "3.9" and python_version >= "3.6" and (python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6")
certifi==2022.6.15; python_version >= "3.6"
charset-normalizer==2.1.0; python_full_version >= "3.6.0" and python_version >= "3.6"
h11==0.12.0; python_version >= "3.6"
httpcore==0.14.7; python_version >= "3.6"
httptools==0.4.0; python_full_version >= "3.5.0" and python_version >= "3.7"
httpx==0.22.0; python_version >= "3.6"
idna==3.3; python_version >= "3.6" and python_full_version >= "3.6.2"
jianshuresearchtools==2.10.1; python_version >= "3.6"
lxml==4.8.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
multidict==6.0.2; python_version >= "3.7"
pymongo==4.2.0; python_version >= "3.7"
pytz-deprecation-shim==0.1.0.post0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6"
pytz==2022.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
pywebio==1.6.2; python_full_version >= "3.5.2"
pyyaml==6.0; python_version >= "3.6"
rfc3986==1.5.0; python_version >= "3.6"
sanic-routing==22.3.0; python_version >= "3.7"
sanic==22.6.1; python_version >= "3.7"
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
tornado==6.2; python_version >= "3.7" and python_full_version >= "3.5.2"
tzdata==2022.1; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.6" and platform_system == "Windows"
tzlocal==4.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version < "4" and python_version >= "3.6"
ua-parser==0.15.0; python_full_version >= "3.5.2"
ujson==5.4.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
user-agents==2.2.0; python_full_version >= "3.5.2"
uvloop==0.16.0; sys_platform != "win32" and implementation_name == "cpython" and python_version >= "3.7"
websockets==10.3; python_version >= "3.7"
